*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#slider{
    position: relative;
}

.next,.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #333;
    padding: 10px 3px;
    cursor: pointer;
    border-radius: 5px;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}